#mainTopic{
    color:blue;


}
*{
    align-items: center;
}
.head{
    font-family: "georgia";
}
body p{
    color: white;
    background-color: cornflowerblue;

}
div button{
    background-color: purple;
    color: azure;
}
div button:hover{
    background-color: yellow;
    color: blue;
}
body p:nth-of-type(2n+1){
    color:yellow;
}
h1{
    color:red;
}
input[type="checkbox"]:checked +label{
    color:darkgreen;

}