<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is the home page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus vel sapiente debitis id eveniet reprehenderit, cupiditate rerum nobis saepe ea? Minus dolorum asperiores, ratione reprehenderit est iusto illum delectus similique.
    Sunt, numquam nemo! Commodi explicabo facere ut iusto dolore distinctio? Ea, dicta? Fugit nostrum corporis accusamus! Similique totam obcaecati deleniti amet, impedit velit quas maxime ex doloribus nulla dignissimos inventore.
    In dolorem dicta tenetur cumque architecto modi, facilis at assumenda molestias voluptate odio tempora cum. Asperiores cum doloribus quis sit velit exercitationem, sint voluptates quas, veniam, delectus voluptatem dicta quibusdam!
    Accusantium ad ratione eos voluptate id aperiam dolorem ab quod rerum iste quis architecto harum molestias, officia esse mollitia vero. Tenetur possimus vitae quo aut, esse delectus suscipit nobis inventore!
    Eaque voluptates ad quos, beatae sapiente suscipit excepturi unde ex ipsa assumenda, alias doloribus, maiores quasi. Aut, assumenda iure, doloremque numquam quo tempore dicta totam quaerat eum tenetur rerum distinctio.</p>

    <button>Click me</button>
    
</body>
</html>