.box{
    height: 50px;
    width: 900px;
    background-color: rgb(255, 171, 185);
    border: 2px solid rgb(18, 135, 57);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center;
    
}
.comp{
    height: 50px;
    width:80px;
    font-size:24px;
    padding-top: 10px;
    padding-bottom: 10px;
}