<div style="background-color:black; color:white">
    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
        <p>Contact us:</p>
        <p>Email: contact@mywebsite.com</p>
    </footer>
</div>