body{
    text-align: center;
    
}
.btn{
    height: 200px;
    width: 200px;
    border:10px solid  black;
    border-radius: 20%;
    padding: 10px;
    margin: 20px;
    

}

.box{
    display: flex;
    justify-content: center;
}
#yellow{
    background-color: yellow;
}
#blue{
   background-color:  blue;
}
#red{
    background-color: red;
}
#green{
   background-color: rgb(0, 207, 0);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color:black;
}