<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="username">
        <br><br>
        Comments:
        <br>
        <textarea name="content" placeholder="write your comments here"></textarea>
        <button type="submit">Submit Post</button>
    </form>
    
</body>
</html>