#website{
    color:orangered;


}
h1 span{
    color:rgb(201, 129, 41);


}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 1rem;

}
.card{
    border:black solid 2px;
    height: 500px;
    width:400px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;

   

}
.image{
    border-radius: 20px;
    height: 200px;
    width: 90%;
    margin: 10px;
    margin-left: 20px;

  

}
h3 {
    margin:5px;
}
p{
    margin: 5px;
    text-align: justify;
}
@media(max-width:375px){
    #pets{
        flex-wrap:wrap;
    }
}