/* #ob{
    width: 300px;
    height: 150px;
    background-color: grey;
    border:5px dotted black;
    margin:20px 1em 40px 2em;
    padding: 1em;
   
} */
/* .c{
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
} */

ul{
    display: inline;
}